@import "./variables.module.scss";
@import "./breakpoints.scss";

.categories {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 20px 0;
  margin: 20px 0;

  border: 1px solid black;
  border-width: 1px 0 1px 0;

  p {
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;

    &:hover {
      color: $pinkred
    }
  }
}